@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



    #singleBoard {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border-radius: 20%;
    }

    .blue {
        transition: all .4s ease-in-out;
        opacity: 0.8;
        background-color: #80cbc4;
    }

    .blue:hover {
        opacity: 1;
        transform: scale(1.2);
    }


    .mark {
        /* background-image: url('./images/check.png'); */
        /* 要换成中间有个黑点，我不太会 */
        /*background-color: #e6ee9c;*/
        background: linear-gradient(270deg, #dce775, #ffffa6, #e6ee9c);
        background-size: 600% 600%;

        -webkit-animation: AnimationName 10s ease infinite;
        -moz-animation: AnimationName 10s ease infinite;
        animation: AnimationName 10s ease infinite;
    }

    .cross {
        background: linear-gradient(270deg, #f37021, #f17284);
        background-size: 400% 400%;
        transition: all .4s ease-in-out;

        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }

    /*.cross{*/
    /*    !* background-image: url('./images/cross.png'); *!*/
    /*    background-color: #e57373;*/
    /*}*/
    .el {
        /* 要换成中间有个check，我不太会 */
        /*background-color: #aed581;*/
        background: linear-gradient(270deg, #c5e1a5, #a5d6a7, #98ee99);
        background-size: 600% 600%;
        transition: all .4s ease-in-out;

        -webkit-animation: AnimationName 5s ease infinite;
        -moz-animation: AnimationName 5s ease infinite;
        animation: AnimationName 5s ease infinite;
    }

    .dot {
        height: 15px;
        width: 15px;
        background-color: #f8ffd7;
        border-radius: 50%;
        display: inline-block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
